<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.windycitygo.windycitygo"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="4" />
    
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:icon="@drawable/wcg_icon"
    			 android:label="@string/app_name" 
    			 android:name="WindyCityGoApplication"
				 android:allowClearUserData="true" 
				 android:theme="@android:style/Theme.NoTitleBar">
	 	<uses-library android:name="com.google.android.maps" />
		<permission android:name="android.permission.INTERNET" />
    	
        <activity android:name=".MainActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>    
        <activity android:name=".SessionList">
        	<intent-filter>
        		<action android:name="org.windycitygo.windycitygo.VIEW_SESSION_LIST" />
        	</intent-filter>
        </activity>
        <activity android:name=".SessionDetail">
        	<intent-filter>
        		<category android:name="android.intent.category.DEFAULT" />
        		<action android:name="org.windycitygo.windycitygo.VIEW_SESSION_DETAIL" />
        	</intent-filter>
        </activity>
        <activity android:name="GoogleMap" />
        <activity android:name="Floorplan" />
        <activity android:name="WcgMap" />
        <activity android:name=".SponsorsList">
        	<intent-filter>
        		<action android:name="org.windycitygo.windycitygo.VIEW_SPONSOR_LIST" />
        	</intent-filter>
        </activity>
        <activity android:name=".SponsorDetail">
        	<intent-filter>
        		<category android:name="android.intent.category.DEFAULT" />
        		<action android:name="org.windycitygo.windycitygo.VIEW_SPONSOR_DETAIL" />
        	</intent-filter>
        </activity>
    </application>
</manifest>